modules = ["cpp-clang14"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "C++ Build Info"

[[workflows.workflow]]
name = "C++ Build Info"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "make info"

[workflows.workflow.metadata]
outputType = "console"
