modules = ["cpp-clang14", "c-clang"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["emacs-pgtk"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "C++ Programs"

[[workflows.workflow]]
name = "C++ Programs"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash run.sh"

[workflows.workflow.metadata]
outputType = "console"
